<div class="container mt-4">
        <div class="row">
            <div class="col-md-4 mx-auto" id="title">
                <h1>User Dashboard</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <!--render grocery list data-->
                {{#each lists}}
                <div class="card my-4">
                    <div class="card-header">
                        {{dataValues.name}}
                    </div>
                    <div class="card-body">
                        <p class="text">{{dataValues.items}}</p>
                        <button class="btn btn-primary float-right delete-list" type="delete" data-listID="{{dataValues.id}}">Delete</button>
                        <button class="btn btn-primary float-right mr-2 edit-list" type="submit" data-listID="{{dataValues.id}}">Edit</button>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/js/dashboard.js" type="text/javascript"></script>