<div class="container mt-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <h1>User Dashboard</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6">
                {{#each lists}}
                <div class="card">
                    <div class="card-header">
                        {{name}}
                    </div>
                    <div class="card-body">
                        {{items}}
                    </div>
                </div>
                <botton class="btn btn-primary" type="submit">Edit</botton>
                {{/each}}
            </div>
        </div>
    

    </div>