<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <h1>Find Grocery Store</h1>
        </div>
    </div>
</div>
<button id="grocery" class="btn btn-secondary btn-lg"> Search your nearest store </button>

<div class="search-container">
    <div class="row">
        <div class="col-md-12" id="display-case"></div>
    </div>
</div>


<div id="map"></div>