<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <h1>Find Grocery Store</h1>
        </div>
    </div>
</div>





<!-- <button id="grocery">Find your nearest store</button>-->
<button id="grocery" class="btn btn-secondary btn-lg"> Search your nearest store </button>

<div class="search-container">
    <div class="row">
        <div class="col-md-12" id="display-case"></div>
    </div>
</div>


<div id="map"></div>







<script src="../public/js/google.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtBNIFkFP0QhKYU8G5fvewyS3h9JkYgcY&callback=initMap">
</script>