<div class="container mt-4" id="title">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <h1>Grocery List</h1>
            </div>
        </div>
    </div>

    <div class="container">

    <form class="make-list">
        <div class="form-group">
          <label for="formGroupExampleInput" id="input" >Grocery List Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name your List">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1" id="input" >List</label>
            <textarea class="form-control" id="items" rows="3"></textarea>
          </div>
          <br>

          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/js/grocery.js" type="text/javascript"></script>
