<div class="container mt-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <h1>Grocery List</h1>
            </div>
        </div>
    </div>

    <div class="container">

    <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Grocery List Name</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name your List">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">What are you using it for?</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="BBQ, Picnic, Party, etc (Optional)">
          <br>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">List</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <br>

          <input class="btn btn-primary" type="submit" value="Save">
        </div>
      </form>
    </div>
